<div class="container">
  <div class="header">
    <h2>Categorías</h2>
    <button mat-raised-button color="primary" routerLink="/categorias/nueva">
      <mat-icon>add</mat-icon> Nueva Categoría
    </button>
  </div>

  <div class="categories-list">
    <mat-card *ngFor="let categoria of categorias" class="category-card mat-elevation-z4">
      <div class="card-content">
        <span class="category-name">{{ categoria.nombre }}</span>
        <div class="actions">
          <button mat-icon-button color="accent" [routerLink]="['/categorias/editar', categoria.categoriaId]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCategoria(categoria.categoriaId!)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
